@import url("vars.css");
@import url("svg-colors.css");
@import url("fonts.css");

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}

header {
    display: inline;
}

@media (width >= 550px) and (not ((orientation: portrait) and (not (hover: hover)))) {
    #list-nav {
        display: none;
    }

    nav {
        top: 0;
        position: sticky;
        height: var(--nav-height);
    }

    nav ul {
        overflow: hidden;
    }
}

@media (width < 550px) or ((orientation: portrait) and (not (hover: hover))) {
    #top-nav {
        display: none;
    }

    nav {
        height: calc(var(--nav-height) * var(--nav-items))
    }

    nav ul {
        display: grid;
        grid-template-rows: repeat(var(--nav-items), var(--nav-height));
    }

    nav ul li {
        width: 100%;
    }
}

@media (hover: hover) {
    nav a:hover {
        background-color: var(--nav-hover);
    }
}

nav {
    z-index: 1; /* ensure rendered on top */
    width: 100%;
    display: block;
    font-size: var(--nav-font-size);

    ul {
        list-style-type: none;
        background-color: var(--nav-background);
        height: 100%;

        li {
            float: left;
            height: 100%;
            align-content: center;

            a {
                display: block;
                align-content: center;
                text-align: center;
                background-color: var(--nav-item);
                color: var(--nav-font-color);
                text-decoration: none;
                height: 100%;
                padding: 0 16px;
            }

            a.active {
                background-color: var(--nav-selected);
            }

            img {
                width: calc(var(--nav-height) / 2);
                height: 100%;
            }
        }
    }
}

@supports (animation-timeline: view()) {
    @keyframes slide-in-left {
        from {
            opacity: 0;
            transform: translateX(-100%);
            visibility: hidden;
        }
        to {
            opacity: 1;
            transform: translateX(-50%);
        }
    }

    @keyframes slide-out-left {
        from {
            opacity: 1;
            transform: translateX(-50%);
        }
        to {
            opacity: 0;
            transform: translateX(-100%);
            visibility: hidden;
        }
    }

    @keyframes slide-in-right {
        from {
            opacity: 0;
            transform: translateX(0%);
            visibility: hidden;
        }
        to {
            opacity: 1;
            transform: translateX(-50%);
        }
    }

    @keyframes slide-out-right {
        from {
            opacity: 1;
            transform: translateX(-50%);
        }
        to {
            opacity: 0;
            transform: translateX(0%);
            visibility: hidden;
        }
    }

    @keyframes slide-in-up {
        from {
            opacity: 0;
            transform: translateY(100%) translateX(-50%);
            visibility: hidden;
        }
        to {
            opacity: 1;
            transform: translateY(0%) translateX(-50%);
        }
    }

    @keyframes slide-out-up {
        from {
            opacity: 1;
            transform: translateY(0%) translateX(-50%);
        }
        to {
            opacity: 0;
            transform: translateY(-100%) translateX(-50%);
            visibility: hidden; 
        }
    }

    sliding-container {
        opacity: 0;
    }
  
    sliding-container.in-right {
        transform: translateX(0%);
    }

    sliding-container.in-left {
        transform: translateX(-100%);
    }

    sliding-container.in-up {
        transform: translateY(100%) translateX(-50%);
    }

    sliding-container.in-right.out-right {
        animation: slide-in-right 1s ease-in forwards, slide-out-right 1s ease-out forwards;
        animation-timeline: view(), view();
        animation-range: cover 10% cover 15%, cover 85% cover 90%;
    }

    sliding-container.in-left.out-right {
        animation: slide-in-left 1s ease-in forwards, slide-out-right 1s ease-out forwards;
        animation-timeline: view(), view();
        animation-range: cover 10% cover 15%, cover 90% cover 100%;
    }

    sliding-container.in-right.out-left {
        animation: slide-in-right 1s ease-in forwards, slide-out-left 1s ease-out forwards;
        animation-timeline: view(), view();
        animation-range: cover 10% cover 15%, cover 85% cover 90%;
    }

    sliding-container.in-left.out-left {
        animation: slide-in-left 1s ease-in forwards, slide-out-left 1s ease-out forwards;
        animation-timeline: view(), view();
        animation-range: cover 10% cover 15%, cover 85% cover 90%;
    }

    sliding-container.in-up.out-up {
        animation: slide-in-up 1s ease-in forwards, slide-out-up 1s ease-out forwards;
        animation-timeline: view(), view();
        animation-range: cover 10% cover 25%, cover 85% cover 100%;
    }
}

body {
    background-color: var(--body-background);
    overflow-x: hidden;
}

main {
    margin: 0 auto;
    background-color: var(--main-background);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

sliding-container {
    display: flex;
    background-color: var(--item-background);
    justify-content: center;
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    margin: 20px auto;
}

sliding-container.no-image {
    flex-direction: column;
}

sliding-container pre {
    text-align: initial;
    font-family: monospace;
}

sliding-container h1 {
    font-size: var(--font-size-h1);
    margin: 2rem auto;
}

sliding-container h2 {
    font-size: var(--font-size-h2);
    margin: 2rem auto;
}

sliding-container h3 {
    font-size: var(--font-size-h3);
    margin: 1rem auto;
}

sliding-container p {
    font-size: var(--font-size-p);
    margin: 1rem 20px;
    align-self: center;
}

sliding-container hgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

labeled-image {
    display: flex;
    width: 300px;
    margin: 2px 10px;
    border-color: #ddd;
    border-width: 5px;
    border-style: outset;

    height: fit-content;
    align-self: center;

    picture {
        display: flex;
    }

    source {
        height: 0;
    }

    img {
        width: 300px;
        height: auto;
    }

    figcaption {
        position: absolute;
        width: 300px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--fig-text-background);
    }
}

@media (width >= 700px) {
    main {
        width: min(80%, 900px);
        padding: 1rem 2rem;
    }

    sliding-container {
        width: 120%;
    }

    labeled-image.tilt-left {
        transform: rotateZ(-4deg);
    }
    
    labeled-image.tilt-right {
        transform: rotateZ(4deg);
    }
}

@media (width < 700px) {
    main {
        width: 100%;
    }

    iframe {
        display: none;
    }

    sliding-container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    labeled-image {
        margin: 0.5rem auto;
        order: 2;

        picture {
            margin: 0 auto;
            width: fit-content;
        }

        figcaption {
            bottom: calc(0.5rem + 5px);
        }
    }
}

iframe {
    width: 90%;
    margin: 10px auto;
}

a {
    color: var(--link-color);
}