@import url("vars.css");
@import url("svg-colors.css");
@import url("fonts.css");

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: var(--palette-color1, #163235);
}

header {
    display: inline;
}

@media (width >= 550px) and (not ((orientation: portrait) and (not (hover: hover)))) {
    #list-nav {
        display: none;
    }

    nav {
        top: 0;
        position: sticky;
        height: var(--nav-height);
    }

    nav ul {
        overflow: hidden;
    }
}

@media (width < 550px) or ((orientation: portrait) and (not (hover: hover))) {
    #top-nav {
        display: none;
    }

    nav {
        height: calc(var(--nav-height) * var(--nav-items));

        border: 0;
        border-bottom: 3px;
        border-color: var(--palette-color1, #163235);
        border-style: solid;
    }

    nav ul {
        display: grid;
        grid-template-rows: repeat(var(--nav-items), var(--nav-height));
    }

    nav ul li {
        width: 100%;
    }
}

@media (hover: hover) {
    nav a:hover {
        background-color: var(--palette-color3, #4fbc9c);
    }
}

nav {
    z-index: 3; /* ensure rendered on top */
    width: 100%;
    display: block;
    font-size: var(--nav-font-size);

    ul {
        list-style-type: none;
        background-color: var(--palette-color1, #106967);
        height: 100%;

        li {
            float: left;
            height: 100%;
            align-content: center;

            a {
                display: block;
                align-content: center;
                text-align: center;
                background-color: var(--palette-color1, #106967);
                color: var(--palette-color5, #efca7c);
                text-decoration: none;
                height: 100%;
                padding: 0 16px;
            }

            a:hover {
                color: var(--palette-color1, #163235);
            }

            a.active {
                background-color: var(--palette-color3, #4fbc9c);
                color: var(--palette-color1, #163235);
            }

            img {
                width: calc(var(--nav-height) / 2);
                height: 100%;
            }
        }
    }
}

@supports (animation-timeline: view()) {
    @keyframes slide-in-left {
        from {
            opacity: 0;
            transform: translateX(-100%);
            visibility: hidden;
        }
        to {
            opacity: 1;
            transform: translateX(-50%);
        }
    }

    @keyframes slide-out-left {
        from {
            opacity: 1;
            transform: translateX(-50%);
        }
        to {
            opacity: 0;
            transform: translateX(-100%);
            visibility: hidden;
        }
    }

    @keyframes slide-in-right {
        from {
            opacity: 0;
            transform: translateX(0%);
            visibility: hidden;
        }
        to {
            opacity: 1;
            transform: translateX(-50%);
        }
    }

    @keyframes slide-out-right {
        from {
            opacity: 1;
            transform: translateX(-50%);
        }
        to {
            opacity: 0;
            transform: translateX(0%);
            visibility: hidden;
        }
    }

    @keyframes slide-in-up {
        from {
            opacity: 0;
            transform: translateY(100%) translateX(-50%);
            visibility: hidden;
        }
        to {
            opacity: 1;
            transform: translateY(0%) translateX(-50%);
        }
    }

    @keyframes slide-out-up {
        from {
            opacity: 1;
            transform: translateY(0%) translateX(-50%);
        }
        to {
            opacity: 0;
            transform: translateY(-100%) translateX(-50%);
            visibility: hidden; 
        }
    }

    sliding-container {
        opacity: 0;
    }
  
    sliding-container.in-right {
        transform: translateX(0%);
    }

    sliding-container.in-left {
        transform: translateX(-100%);
    }

    sliding-container.in-up {
        transform: translateY(100%) translateX(-50%);
    }

    sliding-container.in-right.out-right {
        animation: slide-in-right 1s ease-in forwards, slide-out-right 1s ease-out forwards;
        animation-timeline: view(), view();
        animation-range: cover 10% cover 15%, cover 85% cover 90%;
    }

    sliding-container.in-left.out-right {
        animation: slide-in-left 1s ease-in forwards, slide-out-right 1s ease-out forwards;
        animation-timeline: view(), view();
        animation-range: cover 10% cover 15%, cover 90% cover 100%;
    }

    sliding-container.in-right.out-left {
        animation: slide-in-right 1s ease-in forwards, slide-out-left 1s ease-out forwards;
        animation-timeline: view(), view();
        animation-range: cover 10% cover 15%, cover 85% cover 90%;
    }

    sliding-container.in-left.out-left {
        animation: slide-in-left 1s ease-in forwards, slide-out-left 1s ease-out forwards;
        animation-timeline: view(), view();
        animation-range: cover 10% cover 15%, cover 85% cover 90%;
    }

    sliding-container.in-up.out-up {
        animation: slide-in-up 1s ease-in forwards, slide-out-up 1s ease-out forwards;
        animation-timeline: view(), view();
        animation-range: cover 10% cover 25%, cover 85% cover 100%;
    }
}

body {
    background-color: var(--palette-color1, #163235);
    overflow-x: hidden;
}

main {
    margin: 0 auto;
    background-color: var(--palette-color2, #106967);
    min-height: calc(100dvh - var(--nav-height) - 16px);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

sliding-container {
    display: flex;
    background-color: var(--palette-color5, #efca7c);
    justify-content: space-around;
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    margin: 20px auto;
}

sliding-container.no-image {
    flex-direction: column;
}

sliding-container pre {
    text-align: initial;
    font-family: monospace;
}

sliding-container h1 {
    font-size: var(--font-size-h1);
    margin: 2rem auto;
}

sliding-container h2 {
    font-size: var(--font-size-h2);
    margin: 2rem auto;
}

sliding-container h3 {
    font-size: var(--font-size-h3);
    margin: 1rem auto;
}

sliding-container p {
    font-size: var(--font-size-p);
    margin: 1rem auto;
    align-self: center;
}

h1, h2, h3, p {
    padding: 0 1rem;
}

sliding-container hgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 1rem;
}

sliding-container audio, sliding-container video, sliding-container canvas, sliding-container table {
    margin: 0 auto;
}

sliding-container canvas {
    background-color: white;
    padding: 1rem 1rem;
}

sliding-container table {
    border: 1px solid black;

    td {
        padding: 0 1rem;
    }

    td:not(:first-child) {
        border-left: 1px solid black;
    }
}

labeled-image {
    display: flex;
    width: fit-content;
    margin: 2px 10px;
    border-color: var(--palette-color3, #4fbc9c);
    border-width: 5px;
    border-style: solid;

    height: fit-content;
    align-self: center;

    picture {
        display: flex;
    }

    source {
        height: 0;
    }

    img {
        transition: transform 0.2s ease-in-out;
    }

    img:not([data-width-overwrite]) {
        width: 300px;
        height: auto;
    }

    img:hover {
        transform: scale(1.05);
    }

    figcaption {
        position: absolute;
        width: 300px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--palette-color3, #4fbc9c);
        box-shadow: 0 2px 2px 1px var(--palette-color3, #4fbc9c);
    }
}

img {
    max-width: 100dvw;
    height: auto;
}

dialog {
    position: fixed;
    top: 0;
    left: 0;

    picture {
        display: flex;
    }

    img {
        max-height: 80dvh;
        max-width: 90dvw;

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% + var(--nav-height) / 2));
        z-index: 9;
        border-color: white;
        box-shadow: 0 0 10px 4px var(--palette-color3, #4fbc9c);

        height: auto;
    }

    background-cover {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;

        background-color: var(--palette-color1-alph);
        backdrop-filter: blur(10px);

        /* opacity: 0.75; */
        z-index: 6;
    }
}

/* @media not (orientation: landscape) {
    dialog img {
        max-height: 80dvh;
        max-width: 90dvw;
    }
}

@media (orientation: landscape) {
    dialog img {
        max-height: 90dvw;
        max-width: 80dvh;
    }
} */

/* Match images with their respective dialog boxes */
:root:has(labeled-image#gb-start-img:focus) dialog#gb-start-dialog {
    display: block;
}

:root:has(labeled-image#gb-pkg-img:focus) dialog#gb-pkg-dialog {
    display: block;
}

:root:has(labeled-image#catan-img:focus) dialog#catan-dialog {
    display: block;
}

:root:has(labeled-image#battlecode-img:focus) dialog#battlecode-dialog {
    display: block;
}

:root:has(labeled-image#comp-prog-img:focus) dialog#comp-prog-dialog {
    display: block;
}

:root:has(labeled-image#me-img:focus) dialog#me-dialog {
    display: block;
}

:root:has(labeled-image#jarvsoo-img:focus) dialog#jarvsoo-dialog {
    display: block;
}

:root:has(labeled-image#dnd-img:focus) dialog#dnd-dialog {
    display: block;
}

@media (width >= 700px) and (hover: hover) {
    main {
        width: min(80%, 900px);
        padding: 1rem 2rem;
    }

    sliding-container {
        width: 120%;
    }

    labeled-image.tilt-left {
        transform: rotateZ(-4deg);
    }
    
    labeled-image.tilt-right {
        transform: rotateZ(4deg);
    }

    .hide-on-thick {
        display: none;
    }
}

@media (width < 700px) or (not (hover: hover)) {
    main {
        width: 100%;
    }

    iframe {
        display: none;
    }

    sliding-container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    pre {
        width: 100dvw;
    }

    labeled-image {
        margin: 0.5rem auto;

        picture {
            margin: 0 auto;
            width: fit-content;
        }

        figcaption {
            bottom: calc(0.5rem + 5px);
        }
    }

    sliding-container labeled-image {
        order: 2;
    }

    .hide-on-thin {
        display: none;
    }
}

iframe {
    width: 90%;
    margin: 10px auto;
}

a {
    color: var(--palette-color2, #106967);
}

a:hover {
    color: var(--palette-color3, #4fbc9c);
}

hr {
    border: none;
    height: 0.5rem;
}

form {
    min-width: 50%;
    margin: 2rem auto;
    text-align: left;

    form-field, fieldset {
        display: block;
        margin: 1rem auto;
    }

    textarea {
        width: 100%;
        min-height: 3rem;
        height: 100%;
    }

    fieldset {
        padding: 1rem 1rem;
        border-color: var(--palette-color1, #163235);
        border-style: solid;
    }

    form-field:has(button[type="submit"]) {
        justify-self: center;

        button {
            background-color: var(--palette-color2, #106967);
            color: var(--palette-color5, #efca7c);

            border-radius: 5px;
            border-style: solid;
            border-color: var(--palette-color1, #163235);

            padding: 1rem 5rem;
            font-size: 2rem;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 4rem;
    background-color: var(--palette-color5, #efca7c);
    text-align: center;
}

#experimental-picture {
    max-width: 100%;
    max-height: 500px;
}