:root {
    --nav-background: #abc;
    --nav-item: #123;
    --nav-selected: #246;
    --nav-hover: rgb(62, 108, 154);
    --nav-font-color: #f66;
    --nav-height: 3rem;
    --nav-items: 5;
    --nav-font-size: 1.2em;

    --body-background: rgb(131, 230, 130);
    --main-background: rgb(31, 130, 30);
    --item-background: rgb(101, 200, 100);

    --animation-range: cover 20% cover 25%, cover 85% cover 90;
}